*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body, html{
    background-color: burlywood;
    height: 100vh;
    width: 100%
}

h1{
    padding: 8px;
    height: 3.5rem;
    background: black;
    color: azure;
    text-align: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}
.choice:hover{
    opacity: 0.6;
    transition: ease-out 1s;
    background-color: black;
    cursor: pointer;
}
.choice{
    height: 165px;
    width: 165px;
   border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 3rem;
    padding: 30px;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: black;
    color: azure;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}